@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: 18px/1.4 'Poppins';
    background-color: #FFFFFF;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, input, textarea, table, button, a {
    font: inherit;
    color: inherit;
}

h1 { font-size: 3.3rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.0rem; }

p, ul, ol {
    padding-bottom: 1.5rem;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 95%;
    margin-top: 2rem;
    max-height: 700px;
    padding: 2rem 4rem;
    gap: 3rem;
    box-shadow: 0 0 4rem 0 rgb(0, 0, 0, 0.5);
}

.image img {
    width: 100%;
    height: 100%;
}

.image {
    flex: 0 1 40%;
}

article {
    flex: 0 1 60%;
}

article > p {
    text-align: center;
    padding-top: 1.5rem;
}

header, .content {
    background-color: #F3F3F3;
}

header {
    border-left: 5px solid #7CB83B;
    padding: 2.5rem;
    text-transform: uppercase;
}

header p {
    color: #7CB83B;
}

.content {
    padding: 1rem;
}

.content .buttons {
    display: flex;

}

.content .buttons button {
    flex-grow: 1;
    padding: 0.3rem 0;
    border: none;
}

.buttons button:first-of-type {
    background-color: #7CB83B;
    color: #F3F3F3;
}

.buttons button:last-of-type {
    background-color: #F0F0F0;
    color: #7CB83B;
}

.content p {
    padding-top: 1rem;
}